# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
# -----------------------------------------------------------------------------
# API
# -----------------------------------------------------------------------------
MAGNUM_API_BASE_URL=

# -----------------------------------------------------------------------------
# Sentry
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=